.contact {
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.contact .form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.contact .form div {
  margin-bottom: 20px;
}

.contact label {
  font-size: 16px;
  margin-bottom: 5px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact textarea {
  resize: vertical;
}

.contact button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

